In [1]:
import psycopg2

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
%matplotlib inline
import sqlalchemy as sa

In [ ]:
conn = psycopg2.connect(
    host="158.160.52.106",
    port=5432,
    database="postgres",
    user="student",
    password="JvLda93aA",
)
cur = conn.cursor()

In [ ]:
from sqlalchemy import create_engine
engine = create_engine(
    "postgresql://student:JvLda93aA@158.160.52.106:5432/postgres",
)
df = pd.read_sql(
    "With test_table as(select TO_CHAR(c.visit_dttm ,'YYYY-WW') d, count(c.client_rk) c from msu_analytics.client c group by 1), test_table_2 as(select TO_CHAR(c.visit_dttm ,'YYYY-WW') d2, count(c.client_rk) c2 from msu_analytics.client c right join msu_analytics.account a on c.client_rk = a.client_rk  group by 1) Select test_table.d, CAST(test_table_2.c2 as Float)/CAST(test_table.c as Float)*100 as pr from test_table left join test_table_2 on test_table.d = test_table_2.d2 Order by 1",
    engine,
)
df2 = pd.read_sql(
    "With test_table as(select TO_CHAR(c.visit_dttm ,'YYYY-WW') d, count(c.client_rk) c from msu_analytics.client c group by 1), test_table_2 as( select TO_CHAR(c.visit_dttm ,'YYYY-WW') d2, count(c.client_rk) c2 from msu_analytics.client c right join msu_analytics.account a on c.client_rk = a.client_rk right join msu_analytics.application a2 on a.account_rk = a2.account_rk group by 1 ) Select test_table.d, CAST(test_table_2.c2 as Float)/CAST(test_table.c as Float)*100 as pr from test_table left join test_table_2 on test_table.d = test_table_2.d2 Order by 1",
    engine,
)
df3 = pd.read_sql(
    "With test_table as(select TO_CHAR(c.visit_dttm ,'YYYY-WW') d, count(c.client_rk) c from msu_analytics.client c group by 1), test_table_2 as( select TO_CHAR(c.visit_dttm ,'YYYY-WW') d2, count(c.client_rk) c2 from msu_analytics.client c right join msu_analytics.account a on c.client_rk = a.client_rk right join msu_analytics.application a2 on a.account_rk = a2.account_rk right join msu_analytics.game g on a2.game_rk = g.game_rk and g.game_flg=1 group by 1 ) Select test_table.d, CAST(test_table_2.c2 as Float)/CAST(test_table.c as Float)*100 as pr from test_table left join test_table_2 on test_table.d = test_table_2.d2 Order by 1",
    engine,
)

df_ = pd.read_sql(
    "With test_table as(select TO_CHAR(c.visit_dttm ,'YYYY-MM') d, count(c.client_rk) c from msu_analytics.client c group by 1), test_table_2 as(select TO_CHAR(c.visit_dttm ,'YYYY-MM') d2, count(c.client_rk) c2 from msu_analytics.client c right join msu_analytics.account a on c.client_rk = a.client_rk  group by 1) Select test_table.d, CAST(test_table_2.c2 as Float)/CAST(test_table.c as Float)*100 as pr from test_table left join test_table_2 on test_table.d = test_table_2.d2 Order by 1",
    engine,
)
df2_ = pd.read_sql(
    "With test_table as(select TO_CHAR(c.visit_dttm ,'YYYY-MM') d, count(c.client_rk) c from msu_analytics.client c group by 1), test_table_2 as( select TO_CHAR(c.visit_dttm ,'YYYY-MM') d2, count(c.client_rk) c2 from msu_analytics.client c right join msu_analytics.account a on c.client_rk = a.client_rk right join msu_analytics.application a2 on a.account_rk = a2.account_rk group by 1 ) Select test_table.d, CAST(test_table_2.c2 as Float)/CAST(test_table.c as Float)*100 as pr from test_table left join test_table_2 on test_table.d = test_table_2.d2 Order by 1",
    engine,
)

df3_ = pd.read_sql(
    "With test_table as(select TO_CHAR(c.visit_dttm ,'YYYY-MM') d, count(c.client_rk) c from msu_analytics.client c group by 1), test_table_2 as( select TO_CHAR(c.visit_dttm ,'YYYY-MM') d2, count(c.client_rk) c2 from msu_analytics.client c right join msu_analytics.account a on c.client_rk = a.client_rk right join msu_analytics.application a2 on a.account_rk = a2.account_rk right join msu_analytics.game g on a2.game_rk = g.game_rk and g.game_flg=1 group by 1 ) Select test_table.d, CAST(test_table_2.c2 as Float)/CAST(test_table.c as Float)*100 as pr from test_table left join test_table_2 on test_table.d = test_table_2.d2 Order by 1",
    engine,
)

In [ ]:
line = go.Scatter(x=df['d'], y=df['pr'], mode='lines')
fig = go.Figure(data=line)
fig.update_layout(
    title='Конверсия из посетивших в зарегестрировавшихся в динамике по неделям',
    xaxis_title='Дата посещения',
    yaxis_title='Конверсия'
)
fig.show()

In [ ]:
line = go.Scatter(x=df_['d'], y=df_['pr'], mode='lines')
fig = go.Figure(data=line)
fig.update_layout(
    title='Конверсия из посетивших в зарегестрировавшихся в динамике по месяцам',
    xaxis_title='Дата посещения',
    yaxis_title='Конверсия'
)
fig.show()

In [ ]:
line = go.Scatter(x=df2['d'], y=df2['pr'], mode='lines')
fig = go.Figure(data=line)
fig.update_layout(
    title='Конверсия из посетивших в подавших заявку в динамике по неделям',
    xaxis_title='Дата посещения',
    yaxis_title='Конверсия'
)
fig.show()

In [ ]:
line = go.Scatter(x=df2_['d'], y=df2_['pr'], mode='lines')
fig = go.Figure(data=line)
fig.update_layout(
    title='Конверсия из посетивших в подавших заявку в динамике по месяцам',
    xaxis_title='Дата посещения',
    yaxis_title='Конверсия'
)
fig.show()

In [ ]:
line = go.Scatter(x=df3['d'], y=df3['pr'], mode='lines')
fig = go.Figure(data=line)
fig.update_layout(
    title='Конверсия из посетивших в пришедших на игру в динамике по неделям',
    xaxis_title='Дата посещения',
    yaxis_title='Конверсия'
)
fig.show()

In [ ]:
line = go.Scatter(x=df3_['d'], y=df3_['pr'], mode='lines')
fig = go.Figure(data=line)
fig.update_layout(
    title='Конверсия из посетивших в пришедших на игру в динамике по месяцам',
    xaxis_title='Дата посещения',
    yaxis_title='Конверсия'
)
fig.show()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df['d'], y=df['pr'],  name='Конверсия из посетивших в зарегестрировавшихся'))
fig.add_trace(go.Scatter(x=df2['d'], y=df2['pr'], name='Конверсия из посетивших в подавших заявку'))
fig.add_trace(go.Scatter(x=df3['d'], y=df3['pr'], name='Конверсия из посетивших в пришедших на игру'))
fig.update_layout(legend_orientation="h",
                  legend=dict(x=0.5, xanchor="center"),
                  title="Конверсии из посетивших в этапы воронки по неделям",
                  xaxis_title="Дата",
                  yaxis_title="Конверсия",
                  margin=dict(l=0, r=0, t=20, b=0))
fig.show()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_['d'], y=df_['pr'],  name='Конверсия из посетивших в зарегестрировавшихся'))
fig.add_trace(go.Scatter(x=df2_['d'], y=df2_['pr'], name='Конверсия из посетивших в подавших заявку'))
fig.add_trace(go.Scatter(x=df3_['d'], y=df3_['pr'], name='Конверсия из посетивших в пришедших на игру'))
fig.update_layout(legend_orientation="h",
                  legend=dict(x=0.5, xanchor="center"),
                  title="Конверсии из посетивших в этапы воронки по месяцам",
                  xaxis_title="Дата",
                  yaxis_title="Конверсия",
                  margin=dict(l=0, r=0, t=20, b=0))
fig.show()

**Выводы**

По графику Конверсий из посетивших в этапы воронки по неделям видно, что процент людей, зарегестрировавшихся на сайте, оставался стабильным и показывал незначительный рост, с марта по апрель 23 года и с апреля по май увеличивался, при это процент людей подавших заявку и процент людей закончивших игру уменьшался.

**Гипотезы**
Проблемы с уведомлениями клиентов о предстоящей игре, cложно организованный интерфейс сайта


**Точки роста**
Обзвон клиентов за день до игры
Предоставление скиди на первую игру

С другой стороны, анализируя график конверций из этапы воронки по месяцам, можно увидеть, в тех периодах, когда наблюдалось увеличение числа посетителей сайта, на протяжении 2-х месяцев росло число заявок и пришедших на игру, поэтому, можно предположить, что в следующие 2 месяца будет наблюдаться рост числа участников.